{% extends 'forms.html' %}

{% block submissionButton %}

    {% if formType == 'newPost' %}
        <form action="/users/{{userInformation.id}}/posts/new">
            <a href="/users/{{userInformation.id}}"><button type='button' class='btn btn-outline-primary'>Cancel</button></a>
            <button type='submit' class='btn btn-primary'>Submit</button>
        </form>
    {% endif %}

    {% if formType == 'editPost' %}
        <form action="/posts/{{postInformation.id}}/edit" method='POST'>
            <a href="/users/{{postInformation.author_id}}"><button type='button' class='btn btn-outline-primary'>Cancel</button></a>
            <button type='submit' class='btn btn-primary'>Submit</button>
        </form>
    {% endif %}

{% endblock submissionButton %}
