{% extends "base.html" %}

{% block content %}

<h1>{{postInformation.title}}</h1>
<p>{{postInformation.content}}</p>
<ul class='no-style'>
        <p class="inline">Tags:</p>
    {% for postTag in tagInformation %}
        
        <li class="inline"><a href="/tags/{{postTag.tagJoin.id}}"><span class="badge rounded-pill bg-light">{{postTag.tagJoin.tag_name}}</span></a></li>
    {% endfor %}
</ul>

<em>By <a href="/users/{{userInformation.id}}">{{userInformation.fullName}}</a> on {{postInformation.created_at}}</em>
<div>
    <form class="inline" action="/posts/{{postInformation.id}}/edit" method='POST'>
        <button type='submit' class='btn btn-primary'>Edit</button>
    </form>
    <form class="inline" action="/posts/{{postInformation.id}}/delete" method="GET">
        <button type='submit' class='btn btn-danger'>Delete</button>
    </form>
</div>
{% endblock content %}