<div>
    <table id="nav_table">
        <tr>
            <td>
                <a href="/">Home</a>
            </td>
            <td>

            </td>
            {% if session['username'] %}
                {% if session['username'] %}
                    <td>
                        <a href="/admin/manage">Admin Panel</a>
                    </td>
                {% else %}
                    <td>
                    </td>
                {% endif %}
                <td>
                    <a href="/users/{{session['username']}}">{{session['username']}} Profile</a>
                </td>
                <td>
                    <a href="/logout">Logout</a>
                </td>

            {% else %}
                <td>

                </td>
                <td>
                    <a href="/register">Register</a>
                </td>
                <td>
                    <a href="/login">Login</a>
                </td>
            {% endif %}
        </tr>
    </table>
</div>