{% extends "base.html" %}

{% block content %}
<p>Hello, {{session['username']}}!</p>

<p>All of your feedback:</p>
<table>
    {% for feedback in feedbackList %}
        <tr>
            <td>{{feedback}}</td>
            <td>
                <a class="btn btn-outline-secondary" href="/feedback/{{feedback.id}}/update"><i class="blue fa-solid fa-pen-to-square"></i></a>
            </td>
            <td><form class="inline" action="/feedback/{{feedback.id}}/delete" method="POST">
                <button class="inline btn btn-outline-danger"><i class="red fa-solid fa-trash-can"></i></button>
            </form></td>
        </tr>
    {% endfor %}
</table>

<form class="inline" action="/users/{{username}}/delete" method="POST">
    <a class="btn btn-success" href="/users/{{username}}/feedback/add">Add Feedback</a>
    <button class="btn btn-danger">Delete User</button>
</form>

{% endblock content %}